body {
    font-family: $mainFont;
    font-size: 14px;
    background-size: contain;
    background-image: url(../images/common/backgroud_s@1x.jpg);

    // // mobile screen retina
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/common/backgroud_s@2x.jpg);
    }
  
    // tablet screen
    @media screen and (min-width: $tablet) {
      background-size: contain;
      background-image: url(../images/common/backgroud_m@1x.jpg);
  
      // tablet screen retina
      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/common/backgroud_m@2x.jpg);
      }
    }
  
    // desktop screen
    @media screen and (min-width: $desktop) {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url(../images/common/backgroud_l@1x.jpg);
  
      // desktop screen retina
      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/common/backgroud_l@2x.jpg);
      }
    }
}

    // reset styles
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin: 0;
        padding: 0;
    }

    // responsive images
    img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
    }