.about {
    background-color: $bgGreenColor;
}

.about__label {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    text-transform: uppercase;

    color: $mainColor;
}

.about__title {
    font-family: $secondaryFont;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.23;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: $mainColor;
}