.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 0;
    border-radius: 10px;
    padding: 12px 34px;

    // width: 196px;
    height: 42px;

    font-family: inherit;
    font-weight: 600;
    line-height: calc(18/14);
    cursor: pointer;
    color: $secondaryColor;
    background-color: $accentColor;
    border: 2px solid transparent;

    transition: background-color 250ms $timingFunction;

    &--large{
    width: 196px;    
    margin-left: auto;
    margin-right: auto;

    //tablet
    @media screen and (min-width: $tablet) {
        margin: 0;
    }
        }

  

    &--green{
    background-color: $bgGreenColor;
    border-color: $accentColor;
    margin-top: 16px;

     //tablet
     @media screen and (min-width: $tablet) {
        margin: 0;
    }
    }

    &:hover,
    &:focus {
    background-color:#DFC157;

    }
   
    &--green:hover,
    &--green:focus{
    background-color: #AEC6A5;
    }

}