.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 0;
  border-radius: 10px;
  padding: 11px 26px;
  box-sizing: border-box;

  // width: 196px;
  height: 38px;

  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: calc(18 / 14);
  letter-spacing: 0em;
  text-align: center;
  cursor: pointer;
  color: $secondaryColor;
  background-color: $accentColor;
  border: 2px solid transparent;

    transition: background-color 250ms $timingFunction,
    color 250ms $timingFunction;

    &:hover {
        background-color:$hoverGreenColor;
        color: #000000;
        }
    
        &:focus {
        background-color:$hoverGreenColor;
        color: #ffffff;
        }
    
        &:disabled {
            background-color:$disabledGreyColor;
            color: #000000;
        }


  @media screen and (min-width: $desktop) {
    font-size: 14px;
    padding: 12px 34px;
    height: 42px;
  }

  &--large {
    width: 196px;
    // margin-left: auto;
    // margin-right: auto;
    
    //tablet
    @media screen and (min-width: $tablet) {
        margin: 0;
    }
        }

    &--green{
    background-color: transparent;
    border-color: $accentColor;
    color:#000000;
    transition: border-color 250ms $timingFunction, color 250ms $timingFunction;

     //tablet
     @media screen and (min-width: $tablet) {
        margin: 0;
    }
    }

    &--green:hover{
        border-color: $hoverGreenColor;
        background-color: transparent;
    }

    &--green:focus{
    border-color: $hoverGreenColor;
    background-color: transparent;
    color: #ffffff;
    }

    &--green:disabled {
    border-color:$disabledGreyColor;
    color: #000000;
    }

}
