.customer-reviews{
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: calc($tablet - 0.02px)) {
      max-width: 480px;
      padding-bottom: 393px; 
    }
  
    @media screen and (min-width: $tablet) {
      width: 768px;
      padding: 0 12px 379px 12px;
    }
  
    @media screen and (min-width: $desktop) {
      width: 1200px;
      padding: 0 94px 135px 93px;
    }
    
}

.reviews{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .comments{
        border-radius: 24px;
        background-color: $bgGreenColor;
        margin: 32px 20px;
        text-align: center;
        color: $mainColor;
        letter-spacing: 0.04em;
        
          @media screen and (max-width: calc($tablet - 0.02px)) {
            padding: 35px 39px;
            font-weight: 400;
            font-size: 12px;
            line-height: 255%;
          }
        
          @media screen and (min-width: $tablet) {
            padding: 28px 80px;
            font-weight: 500;
            line-height: 186%;
          }
        
          @media screen and (min-width: $desktop) {
            margin-left: 23px;
            margin-right: 22px;
            padding: 43px 109px;
            font-size: 16px;
            line-height: 186%;
          }
    }

    .user-info{
        text-align: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 186%;
        margin-bottom: 32px;

        @media screen and (max-width: calc($tablet - 0.02px)) {
            font-size: 20px;   
        }
    }

    .reviews-img{
        display: block;
        border-radius: 50%;
    }

}

.slider{
    text-align: center;
    margin: 0;
    padding: 0;
}

.slider > .slick-dots{
  display: flex ;
  justify-content: center;
  align-items: center;
}

.slick-dots li {
  display: flex;
  margin-top: 0;
  margin-right: 18px;
  height: 12px;

    &:last-child{ 
      margin-right: 0;
    }
}

.slick-dots button{
 font-size: 0;
 margin: 0;
 padding: 0;
 border: 0;
 width: 12px;
 height: 12px;
 border-radius: 50%;
 background-color: #D9D9D9;
 border-color: transparent;
 cursor: pointer;
}

.slick-dots .slick-active button{
background-color: $bgGreenColor;
}