button {
   padding: 0;
   border: none;
   font: inherit;
   color: inherit;
   background-color: transparent;
   cursor: pointer;
}

.header {
   
   background-color: $bgGreenColor;
   margin-left: auto;
   margin-right: auto;
   padding-bottom: 10px;

   z-index: 999;

   &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 12px;

      @media screen and (min-width:$tablet) {
         padding-top: 20px;

      }

      @media screen and (min-width:$desktop) {
         padding-top: 8px;

      }
   }

   &__logo {
      position: relative;
      z-index: 999;
      width: 40px;
      height: 37px;


      @media screen and (min-width:$tablet) {
         width: 48px;
         height: 44px;
         margin-right: 440px;
      }

      @media screen and (min-width:$desktop) {
         width: 60px;
         height: 65px;
         margin-right: 308px;
      }
   }

   &__logo-item {
      fill: $accentColor;
   }

   &__nav {
      display: flex;
      justify-content: center;
      align-items: center;

   }

   &__nav-menu {
      display: block;

      @media screen and (min-width:$desktop) {
         display: none;
      }

   }

   &__nav-menu-yellow {
      color: #FFFFFF;
      display: block;
      transition: color 250ms $timingFunction;

      @media screen and (min-width:$tablet) {
         margin-right: 32px;
      }

      @media screen and (min-width:$desktop) {

         display: none;
      }

      &:hover,
      &:focus {
         color: $accentColor;
      }
   }

   .menu__burger {
      fill: currentColor;
   }


   &__nav-items {

      display: flex;
      justify-content: space-between;
      align-items: center;

      @media screen and (min-width:769px) {
         display: flex;
         justify-content: center;
         align-items: center;
         gap: 28px;

      }
   }

   &__nav-item {
      display: none;

      @media screen and (min-width:$desktop) {
         display: block;
      }

   }

   &__nav-link {
      font-size: 16px;
      font-weight: 700;
      font-style: normal;
      line-height: 1.25;
      color: #FCFCFC;

      &:hover,
      &:focus {
         color: #F8D24E;
      }

   }

   &__button--yellow {
      display: none;

      @media screen and (min-width:$tablet) {
         display: block;
      }

      @media screen and (min-width:481px) {
         width: 152px;
         height: 42px;
         border-radius: 10px;
         background-color: #F8D24E;

         &:hover {
            background-color: #0A8817;
         }

         &:focus {
            background-color: #0A8817;
            color:$mainColor;
            fill: $mainColor;
         }

         &:active:disabled {
            background-color: #ABABAB;
         }
      }
   }

   &__button-text {
      font-weight: 600;
      line-height: calc(17/14);
   }

   &__button-icon {
      fill: currentColor;
   }
}

.modal-menu {

   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #85A279;

   z-index: 990;

   transform: translateX(100%);
   transition: transform 250ms ease-in-out;


   @media screen and (min-width:$tablet) {
      background-color: #97AF8D;
   }

   @media screen and (min-width:$desktop) {
      display: none;
   }

   &__close {
      fill: $mainColor;

         position: absolute;
         top: 16px;
         right: 20px;
      
      transition: color 250ms $timingFunction;

      &:hover,
      &:focus {
         color: $accentColor;
      }
   }

   &__close-icon {
      fill: currentColor;
   }

   &__items {
      text-align: center;
      padding-top: 100px;
      padding-bottom: 110px;

      @media screen and (min-width:$tablet) {
         padding-top: 140px;
      }

   }

   &__item:not(:last-child) {
      padding-bottom: 40px;
   }

   &__link {
      font-weight: 700;
      color: $mainColor;
      font-size: 32px;
      line-height: calc(39/32);

      @media screen and (min-width:$tablet) {
         font-size: 48px;
         line-height: calc(59/48);
      }

   


      &:hover,
      &:focus {
         color: $secondaryColor;
      }

      &:active .modal-menu{
         transform: translateX(100%);
      }
   }

   &__button-buy {
         width: 152px;
         height: 42px;
         border-radius: 10px;
         background-color: #F8D24E;
         font-weight: 600;
         line-height: calc(17/14);
   

         &:hover {
            background-color: #0A8817;
         }

         &:focus {
            background-color: #0A8817;
            color: $mainColor;
         }

         &:active:disabled {
            background-color: #ABABAB;
         }

      

      @media screen and (min-width:$tablet) {
         display: none;
      }
   }

   &__button-buy-arrow {
      fill: currentColor;

   }

}

.modal-menu.is-open {
   transform: translateX(0);
}