// modal ingredients green
.backdrop.is-hidden .modal-info__ingredients{
    transform: translateX(-4000px);
}
.modal-info__ingredients-green{
    overflow-y: scroll;
    z-index: 50;

}
.modal-info__ingredients{
    z-index: 100;
    position: absolute;
    top: 75%;
    // top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 280px;
    padding: 28px 20px 32px;
    background-color: $mainColor;
    border: 2px solid $accentColor;
    border-radius: 10px;
    filter: blur(0);
    transform: translate(-50%, -50%) rotate(0deg);
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), transform 500ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (max-width: 479px) {
            width: auto;
            height: auto;
    }
    @media screen and (min-width: 768px){
            width: 568px;
            top: 50%;
    }
}
.modal-info__ingredients--close-btn{
    position: absolute;
    top: 28px;
    right: 28px;
    border: none;
    background: none;
    padding: 0;
    line-height: 0;
    cursor: pointer;

    @media screen and (min-width:768px) {
    top: 20px;
    right: 20px;
    }
}
.modal__ingredients--btn-icon{
    .modal-info__ingredients--close-btn:hover &,
    .modal-info__ingredients--close-btn:focus &{
        fill: $accentColor;
    }
}
.ingredients{
    margin-bottom: 40px;

 @media screen and (min-width:768px){
    margin-bottom: 48px;
 }

}
.ingredients__title{
    font-family: $secondaryFont;
    font-size: 20px;
    line-height: calc(28 / 20);
    text-align: center;
    margin-bottom: 22px;
    color: $secondaryColor;
}
.ingredients__img {
    position: relative;
    width: 132px;
    height: 138px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    border-radius: 50%;
    background: linear-gradient(0deg,rgba(156, 190, 143, 0.7),rgba(156, 190, 143, 0.7));
    box-shadow: 0px 5.26027px 19.726px rgba(156, 190, 143, 0.7);
}
.ingredients__img::after {
    content: "";
    position: absolute;
    width: 132px;
    height: 138px;
    background-image: url(../images/products/icecreamone.png);
    border-radius: 50%;
    z-index: 100;
    bottom: 7px;
}
.box__of__ingredients {
    display: flex;
    justify-content: center;
    gap: 9px;
    margin-bottom: 39px;

    @media screen and (min-width:768px) {
        gap: 20px;
        margin-bottom: 48px;
    }
}
.box__of__ingredients--items {
    width: 53px;
    height: 72px;
    border-radius: 40px;

    @media screen and (min-width:768px) {
        width: 65px;
        height: 90px;
    }
}
.box__of__ingredients--items-green {
    border: 2px solid #9CBE8F;
}
.box__of__ingredients--digits {
    width: 43px;
    height: 43px;
    border-radius: 50%;
    margin-top: -2px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9CBE8F;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.25);
    font-weight: 500;
    font-size: 10px;
    line-height: calc(28 / 10);
    color: $secondaryColor;

    @media screen and (min-width: 768px) { 
        width: 53px;
        height: 53px;
        font-size: 12px;
        line-height: calc(28 / 12);
    }
}
.box__of__ingredients--text {
    font-size: 10px;
    line-height: calc(12 / 10);
    display: flex;
    justify-content: center;
    color: $secondaryColor;

    @media screen and (min-width: 768px) {
        font-size: 12px;
        line-height: calc(15 / 12);
    }
}
.ingredients-caption {
    font-family: $mainFont;
    font-weight: 500;
    font-size: 20px;
    line-height: calc(28 / 20);
    display: flex;
    justify-content: center;
    color: $secondaryColor;
    margin-bottom: 24px;
}
.ingredients__items {
    font-family: $mainFont;
    font-size: 14px;
    line-height: calc(14.64 / 14);
    margin-bottom: 11px;
    display: flex;
    justify-content: space-between;
    color: $secondaryColor;
    &:last-child {
        margin-bottom: 0;
    }
}
.ingredients-form{
    display: flex;
    flex-direction: column;
}
.ingredients-form > div {
    margin-bottom: 8px;

    @media screen and (min-width: 768px) {
        margin-bottom: 16px;
    }
}
.ingredients-form__field {
    display: block;
    margin-bottom: 16px;

    @media screen and (min-width: 768px) {
        margin-bottom: 16px;
        text-align: center;
    }
}
.ingredients-form__input{
    width: 100%;
    height: 42px;
    padding-left: 11px;
    transition: border-color $bgGreenColor;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid $bgGreenColor;
    border-radius: 10px;
    outline: none;
    &:focus{
        border-color: $hoverGreenColor;
    }

    @media screen and (min-width: 768px) {
        width: 368px;
    }
}
.ingredients-form__message {
    width: 100%;
    height: 84px;
    padding-left: 11px;
    padding-top: 11px;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid $bgGreenColor;
    border-radius: 10px;
    resize: none;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
        border-color: $hoverGreenColor;
    }

    @media screen and (min-width: 768px){
        width: 368px;
    }
}
.ingredients-form__input::placeholder,
.ingredients-form__message::placeholder {
    font-family: $mainFont;
    font-size: 14px;
    line-height: calc(19.6 / 14);
    color: $secondaryColor;
}
.ingredients-btn__sub {
    display: block;
    min-width: 132px;
    min-height: 42px;
    background: $accentColor;
    border: none;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    font-weight: 600;
    line-height: calc(17 / 14);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
        background-color: $hoverGreenColor;
        cursor: url(../images/pointer.png), auto;
    }
    &:focus {
        background-color: $hoverGreenColor;
        color: #FFFFFF;
    }
    @media screen and (min-width: 768px)  {
        min-width: 120px;
    }
}
// modal ingredients yellow
.ingredients__img--yellow {
    background:  linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7));
    box-shadow: 0px 8px 30px rgba(248, 210, 78, 0.7);
}
.ingredients__img--yellow::after {
    background-image: url(../images/products/ice-coffe.png);
    z-index: 110;
    background-size: cover;
}
.box__of__ingredients--items-yellow{
    border: 2px solid #EDD276;
}
.box__of__ingredients--digits-yellow {
    background-color: #EDD276;
    background: linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7));
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
}

// modal ingredients brown
.ingredients__img--brown {
    background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7));
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
}
.ingredients__img--brown::after {
    background-image: url(../images/products/milkshake.png);
    z-index: 120;
    background-size: cover;
}
.box__of__ingredients--items-brown {
    border: 2px solid #D6936D;
}
.box__of__ingredients--digits-brown {
    background-color: #D6936D;
    background: linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7));
    box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
}