.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    pointer-events: initial;
    visibility: visible;

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }
}

.modal-franshise {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    max-width: 280px;
    width: 100%;

    padding: 28px;

    border-radius:10px;
    background-color: $mainColor;
    border: 2px solid $accentColor;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

    transition: transform 250ms $timingFunction,
        opacity 250ms $timingFunction;



    .backdrop.is-hidden & {
        transform: translate(-50%, -50%) scale(1.1);
        opacity: 0;
    }

    @media screen and (min-width:$tablet){
       max-width: 568px;
       padding: 32px 58px;

    }   
}

.modal-franshise__close {
    position: absolute;
    top: 12px;
    right: 12px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 24px;
    height: 24px;
    padding: 0;
    border: 1px solid transparent;
    background-color: transparent;
    color: $secondaryColor;
    cursor: pointer;

    transition: color 250ms $timingFunction;

    &:hover,
    &:focus {
        color: $accentColor;
    }
}

.modal-franshise__icon {
    fill: currentColor;
}

.modal-franshise__title {
    margin-bottom: 20px;
    

    font-family: $secondaryFont;
    font-size: 16px;
    line-height: calc(24/16);
    text-align: center;
    color: $secondaryColor;

    @media screen and (min-width:$tablet){
        margin-left: 60px;
        margin-right: 60px;
        margin-bottom: 24px;

        font-size: 20px;
        line-height: calc(28/20);
    }   
}
.modal-franshise__text {
    font-family: $mainFont;
    font-size: 14px;
    line-height: calc(20/14);
    color: $secondaryColor;

    @media screen and (min-width:$tablet){
        font-size: 16px;
        line-height: calc(22/16);
    }  
}

.form-franshise{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.form-franshise__group {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width:100%;
    margin: 24px auto;


    @media screen and (min-width:$tablet){
        margin: 32px auto;
        gap: 16px;
        padding-left: 40px;
        padding-right: 40px; 
    }  
    
}

.form-franshise__input,
.form-franshise__message {
    width: 100%;
    // max-width:448px;
    margin: 0;
    padding: 12px 16px;
    border: 1px solid $bgGreenColor;
    border-radius: 10px;
    outline: transparent;
    background-color: $bgModalColor;
    transition: border-color 250ms $timingFunction;
}

.form-franshise__input {
    height: 42px;

    &:focus {
        border-color: $accentColor;
    }
}

.form-franshise__message {
    resize: none;

    &::placeholder {
        line-height: calc(20/14);
        color: $secondaryColor;
    }
    &:focus {
        border-color: $accentColor;
    }
}




