.btn__buy-now{
    &:hover,
    &:focus,
    &:active{
        cursor: url(../images/pointer.png), auto;
    }
}
.btn__icon {
    margin-left: 7px;
}
.backdrop__modal-buy {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    z-index: 1000;
    transition: opacity 250ms linear, visibility 250ms linear;
    &.is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}
.modal-buy__scroll {
    overflow-y: scroll;
}
.modal-buy {
    position: absolute;
    top: 80%;
    left: 50%;
    padding: 28px;
    transform: translate(-50%, -50%) scale(1);
    width: 280px;
    background-color: #FFFFFF;
    border-radius: 10px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 2px solid $accentColor;
    padding: 8px 8px 28px;
    z-index: 100;
}
.modal-buy__btn-close {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        background-color: transparent;
        border: none;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.modal-buy__icon-close {
        display: block;
        width: 20px;
        height: 20px;
        fill: $secondaryColor;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
        .modal-buy__btn-close:hover &,
        .modal-buy__btn-close:focus & {
            fill: $accentColor;
            cursor: url(../images/pointer.png), auto;
        }
}
.modal-buy__form {
    display: flex;
    flex-direction: column;
}
.form-buy__title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $secondaryColor;
    width: 221px;
    height: 24.5px;
    left: 30px;
    top: 28px;
    font-family: $secondaryFont;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    margin-top: 28px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 84px;
}
.buy-now__card-box {
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    row-gap: 90px;
    align-items: center;

}
.buy-now__card-wrapper {
    position: relative;
    width: 132px;
    height: 136px;
    border: none;
    border-radius: 16px;
}
.buy-now__card-input {
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 132px;
    height: 206px;
    opacity: 0;
    cursor: url(../images/pointer.png), auto;

    &:checked~.buy-now__box-first {
        background-color: #AEC6A5;
    }
    &:checked~.buy-now__box-second {
        background-color: #EDD276;
    }
    &:checked~.buy-now__box-third {
        background-color: #D6936D;
    }
}
.buy-now__box-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 132px;
    height: 136px;
    border-radius: 16px;
    position: absolute;
    top: -1px;
    left: -1px;
}
.buy-now__box-title:before {
    border-radius: 50%;
    content: "";
    position: absolute;
    top: 60%;
    left: -1px;
    width: 132px;
    height: 140px;
    background-repeat: no-repeat;
}
.buy-now__box-first {
    border: 2px solid #AEC6A5;
}
.buy-now__box-first:before {
    position: absolute;
    top: -50%;
    left: -1px;
    background-image: url(../images/modal-buy/buy1.png), linear-gradient(0deg, rgba(156, 190, 143, 0.7), rgba(156, 190, 143, 0.7));
    box-shadow: 0px 8px 30px rgba(10, 136, 23, 0.25);
}
.buy-now__box-second {
    border: 2px solid #EDD276;
}
.buy-now__box-second::before {
    position: absolute;
    top: -50%;
    left: -1px;
    background-image: url(../images/modal-buy/buy2.png), linear-gradient(0deg, rgba(248, 210, 78, 0.7), rgba(248, 210, 78, 0.7));
    box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
}
.buy-now__box-third {
    border: 2px solid #D6936D;
}
.buy-now__box-third::before {
    position: absolute;
    top: -50%;
    left: -1px;
    background-image: url(../images/modal-buy/buy3.png), linear-gradient(0deg, rgba(213, 117, 63, 0.7), rgba(213, 117, 63, 0.7));
    box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
}
.buy-now__card-title {
    margin-top: 95px;
    z-index: 3;
    text-align: center;
    text-transform: uppercase;
    color: $secondaryColor;
    font-size: 16px;
    font-weight: 700;
    line-height: calc(20 / 16);
}
.modal-buy__form-field:not(:last-of-type) {
    margin-bottom: 10px;
}
.modal-buy__form--input-wrapper {
    display: block;
    position: relative;
}
.modal-buy__form--input {
    display: block;
    width: 100%;
    height: 32px;
    padding-left: 12px;
    padding-right: 12px;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(16.8 / 12);
    color: $secondaryColor;
    background-color: #FCF8EB;
    border: 1px solid $hoverGreenColor;
    border-radius: 10px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
        outline: none;
        border-color: $accentColor;
    }
    &:not(:focus):not(:placeholder-shown):valid {
        background-color: rgba(72, 146, 67, 0.361);
    }
    &:not(:focus):not(:placeholder-shown):invalid {
        background-color: rgba(202, 87, 106, 0.361);
    }
}
.modal-buy__form--message {
    display: block;
    width: 100%;
    height: 65px;
    padding-top: 8px;
    padding-bottom: 7px;
    padding-right: 12px;
    padding-left: 12px;
    color: $secondaryColor;
    background-color: #FCF8EB;
    border: 1px solid $bgGreenColor;
    border-radius: 10px;
    resize: none;
    font-size: 12px;
    line-height: calc(16.8 / 12);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 25px;
    &:focus {
        outline: none;
        border-color: $accentColor;
    }
}
.modal-buy__form--button {
    align-self: center;
    min-width: 114px;
    min-height: 42px;
    padding-top: 10px;
    padding-right: 52px;
    padding-bottom: 10px;
    padding-left: 52px;
    background-color: $accentColor;
    font-weight: 600;
    font-size: 12px;
    line-height: calc(15 / 12);
    color: $secondaryColor;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border: 1px solid $accentColor;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        background-color: $hoverGreenColor;
        cursor: url(../images/pointer.png), auto;
    }
    &:focus {
        color: $mainColor;
    }
}
@media screen and (min-width: 768px) {
    .modal-buy {
        min-width: 568px;
        top: 50%;
        padding-bottom: 32px;
    }
    .form-buy__title {
        margin-top: 32px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 103px;
        font-size: 20px;
        line-height: calc(28 / 20);
    }
    .buy-now__card-box {
        margin-bottom: 40px;
        display: flex;
        flex-direction: row;
        row-gap: 0;
        column-gap: 32px;
        justify-content: center;

    }
    .modal-buy__form--message {
        width: 368px;
        height: 84px;
    }
    .modal-buy__form-field:not(:last-of-type) {
        margin-bottom: 16px;
    }
    .modal-buy__form--message {
        margin-bottom: 32px;
        margin-left: auto;
        margin-right: auto;
    }
    .modal-buy__form--input {
        margin-left: auto;
        margin-right: auto;
        width: 368px;
        height: 42px;
    }
}