.backdrop-location {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    pointer-events: initial;
    visibility: visible;

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }
}

.modal-location {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

    max-width: 280px;
    width: 100%;
    padding: 28px;

    border-radius:10px;
    background-color: $mainColor;
    border: 2px solid $accentColor;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    z-index: 100;
    

    transition: transform 300ms $timingFunction,
        opacity 250ms $timingFunction;



    .backdrop-location.is-hidden & {

        transform: translate(-50%, -50%) scale(1.1) skew(30deg);
        opacity: 0;
    
        
    }

    @media screen and (min-width:$tablet){
       max-width: 568px;
       padding: 32px 60px;

    }   
}

.modal-location__close {
    position: absolute;
    top: 12px;
    right: 12px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 24px;
    height: 24px;
    padding: 0;
    border: 1px solid transparent;
    background-color: transparent;
    color: $secondaryColor;
    cursor: pointer;

    transition: color 250ms $timingFunction;

    &:hover,
    &:focus {
        color: $accentColor;
        
    }
}

.modal-location__icon {
    fill: currentColor;
}

.modal-location__title {
    margin-bottom: 20px;
    
    font-family: $secondaryFont;
    font-size: 16px;
    line-height: calc(24/16);
    text-align: center;
    color: $secondaryColor;

    @media screen and (min-width:$tablet){
        margin-left: 60px;
        margin-right: 60px;
        margin-bottom: 32px;

        font-size: 20px;
        line-height: calc(28/20);
    }   
}

.btn--link {
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    
    justify-content: center;
    max-width: 134px;
    width: 100%;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: calc(15 / 12);
    display: flex;
    align-items: center;
    text-align: center;

    color: #131313;

    @media screen and (min-width: $tablet) {
        margin-top: 32px;
        min-width: 145px;
        font-size: 14px;
        padding: 0;
    }
}


.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:199px;

    @media screen and (min-width: $tablet) {
        height:260px; 
    }
  }
  .map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }






