.products__title {
  @media screen and (min-width: $desctop) {
    margin-left: auto;
    margin-right: auto;
    width: 330px;

    font-weight: 800;
    font-size: 30px;
    line-height: 1.23;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #131313;
  }

  &--size {
    @media screen and (min-width: $desctop) {
      font-weight: 400;
      font-size: 36px;
      line-height: 1.25;
      letter-spacing: 0.06em;
    }
  }
}
