.products {
  // mobile screen
  padding-top: 60px;
  padding-bottom: 60px;

}

// --------------------------------
// --------Стилі заголовка--------- ГОТОВО
// --------------------------------
.products__label {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;

  font-weight: 800;
  line-height: 1.23;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $secondaryColor;

  @media screen and (max-width: 767.98px) {
    font-size: 18px;
    line-height: 1.22;
  }

  @media screen and (min-width: $tablet) {
    font-size: 22px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 30px;
  }
}

.products__title {
  margin-left: auto;
  margin-right: auto;

  font-family: $secondaryFont;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $secondaryColor;

  @media screen and (max-width: 767.98px) {
    margin-bottom: 148px;

    font-size: 30px;
    line-height: 1.27;
  }

  @media screen and (min-width: $tablet) {
    margin-bottom: 200px;

    font-size: 34px;
    line-height: 1.26;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 303px;

    font-size: 36px;
    line-height: 1.25;
    letter-spacing: 0.06em;
  }
}

// -------------------------------------
// ----------Стилі карток--------------- ГОТОВО
// -------------------------------------
.products__list {
  @media screen and (max-width: calc($tablet - 0.02px)) {
    display: block;
  }

  @media screen and (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
  }

  @media screen and (min-width: $desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 29px;
  }
}
// ------------------------------------------ ГОТОВО
// --------------- ЗОБРАЖЕННЯ---------------- (АЛЕ РЕКОМЕНДУЮ УВАЖНО
// ------------------------------------------  ПЕРЕГЛЯНУТИ top ПОЗИЦІОНУВАННЯ)
.products__item {
  position: relative;

  background-color: #aec6a5;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);

  @media screen and (max-width: calc($tablet - 0.02px)) {
    margin-left: auto;
    margin-right: auto;
    padding-top: 123px;
    padding-bottom: 16px;
    padding-left: 40px;
    padding-right: 40px;

    width: 100%;
    max-width: 280px;

    border-radius: 24px;
  }

  @media screen and (min-width: $tablet) {
    padding-top: 108px;
    padding-bottom: 12px;
    padding-left: 26px;
    padding-right: 26px;

    border-radius: 15.78px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 165px;
    padding-bottom: 60px;
    padding-left: 64px;
    padding-right: 64px;

    border-radius: 24px;
  }

  &:not(:last-child) {
    @media screen and (max-width: calc($tablet - 0.02px)) {
      margin-bottom: 168px;
    }
  }

  &::before {
    content: '';
    position: absolute;

    display: block;
    width: 240px;
    height: 240px;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/products/img1_200.png);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/products/img1_400.png);
    }

    @media screen and (max-width: calc($tablet - 0.02px)) {
      top: -110px; //Половина картинка з макета + візуально до макета
      left: 20px; // (W-блока - W-картинки)/2
    }

    @media screen and (min-width: $tablet) {
      top: -122px; //Половина картинка з макета + візуально до макета
      left: -8px; // (W-блока - W-картинки)/2
    }

    @media screen and (min-width: $desktop) {
      top: -188px; //Половина картинка з макета + візуально до макета
      left: 4px; // (W-блока - W-картинки)/2

      width: 362px;
      height: 362px;

      background-image: url(../images/products/img1_302.png);

      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/products/img1_604.png);
      }
    }
  }

  &--second {
    background-color: #efd478;

    &::before {
      background-image: url(../images/products/img2_200.png);

      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/products/img2_400.png);
      }

      @media screen and (min-width: $desktop) {
        background-image: url(../images/products/img2_302.png);

        @media screen and (min-device-pixel-ratio: 2),
          screen and (min-resolution: 192dpi),
          screen and (min-resolution: 2dppx) {
          background-image: url(../images/products/img2_604.png);
        }
      }
    }
  }

  &--third {
    background-color: #d6936d;

    &::before {
      background-image: url(../images/products/img3_200.png);

      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/products/img3_400.png);
      }

      @media screen and (min-width: $desktop) {
        background-image: url(../images/products/img3_302.png);

        @media screen and (min-device-pixel-ratio: 2),
          screen and (min-resolution: 192dpi),
          screen and (min-resolution: 2dppx) {
          background-image: url(../images/products/img3_604.png);
        }
      }
    }
  }
}

// ------------------------------------
// ---------Стилі тексту картки-------- ГОТОВО
// ------------------------------------
.products__subtitle {
  margin-bottom: 40px;

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $secondaryColor;

  @media screen and (max-width: calc($tablet - 0.02px)) {
    font-size: 20px;
    line-height: 1.2;
  }

  @media screen and (min-width: $tablet) {
    font-size: 22px;
    line-height: 1.23;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 66px;

    font-size: 30px;
  }
}

.products__text {
  font-size: 14px;
  line-height: 1.76;
  text-align: center;
  letter-spacing: 0.04em;
  color: $secondaryColor;

  @media screen and (max-width: calc($tablet - 0.02px)) {
    margin-bottom: 53px;
    height: 148px;
  }

  @media screen and (min-width: $tablet) {
    margin-bottom: 50px;
    height: 175px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;
    height: 142px;

    font-size: 16px;
  }
}

// ----------------------------------
// -------Кнопка для модалки--------- ГОТОВО
// ----------------------------------
.products__button {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  padding: 0;

  // cursor: pointer;
  cursor: url(../images/pointer.png), auto;

  background: transparent;
  border: none;

  transition: color 250ms $timingFunction;

  &:hover,
  &:focus {
         color: $mainColor;
      }
}

.products__icon {
  fill:currentColor;
}