// utils styles
@import './utils/variables';
@import './utils/visually-hidden';
// base styles
@import './common';
@import './base/base';
@import './container';
@import './buttons';

//example

// @import './example';

//index.html
@import './header';
@import './hero';
@import './products';
@import './about';
@import './advantages';
@import './gallery';
@import './customer-reviews';
@import './contacts';
@import './footer';

// modals

@import './modal-franshise';
@import './modal-buy';
@import './modal-our-location';

