//Fonts
$mainFont:'Montserrat', sans-serif;
$secondaryFont:'Seymour One', sans-serif;


//Colors

$mainColor: #FCFCFC;
$secondaryColor:#131313;
$accentColor: #F8D24E;
$bgGreenColor: #84A178;

//Animation

// Breakpoints
$mobile: 480px;
$tablet: 768px;
$desctop: 1200px;