//Fonts
$mainFont: 'Montserrat', sans-serif;
$secondaryFont: 'Seymour One', sans-serif;

//Colors
$mainColor: #fcfcfc;
$secondaryColor: #131313;
$accentColor: #f8d24e;
$bgGreenColor: #84a178;

//Animation
$timingFunction: cubic-bezier(0.4, 0, 0.2, 1);

// Breakpoints
$mobile: 480px;
$tablet: 768px;
$desctop: 1200px;