<section class="about">
  <div class="container">
    <label class="about__label"
      >tradition and love
      <h2 class="about__title">how it’s made?</h2>
    </label>

    <ul class="about__list">
      <li class="about__text">
        Ice is a place where you will become not only a little happier, but also
        healthier. Health is the main value for us, and we follow it when
        creating our handmade desserts.
      </li>
      <li class="about__text">
        We use traditional recipes and 100% natural ingredients. Our products
        are so natural that they can be given to children from the age of three
        years. Sweets lovers can expect 55 types of ice cream, 15 types of
        coffee and 23 milkshakes.
      </li>
      <li class="about__text about__text--hidden">
        This is enough to choose ice cream and coffee for any mood!
      </li>
    </ul>
    <button>Read more</button>
  </div>
</section>