<section class="about">
  <div class="backdrop-video is-hidden" data-modal-video>
    <div class="modal-video">
      <button class="btn-close" data-modal-video-close>
        <svg class="close" viewBox="0 0 32 32" width="14" height="14">
          <use a href="../images/icons.svg#icon-close"></use>
        </svg>
      </button>
      <div class="modal__video">
        <h3 class="modal__title">How it’s made?</h3>
        <div class="video">
          <iframe src="https://www.youtube.com/embed/8WEMZ86Eho8"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
        </div>
        <p class="video__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        </p>
      </div>
    </div>
  </div>
</section>