<section class="about">
  <div class="container">
    <label class="about__label"
      >tradition and love
      <h2 class="about__title">how it’s made?</h2>
    </label>

    <img
      class="about__img"
      srcset="
                  ../images/how it made/cow_mob.png 313w,
                  ../images/how it made/cow_mob@2x.png 626w,
                  ../images/how it made/cow_tab.png 370w,
                  ../images/how it made/cow_tab@2x.png 740w,
                  ../images/how it made/cow_desktop.png 536w,
                  ../images/how it made/cow_desktop@2x.png 1072w
                "
      sizes="(min-width: 1200px) 491px, (min-width: 768px) 330px, (min-width: 480px) 280px,
              100vw"
      src="../images/how it made/cow_tab.png"
      alt="Cow photo"
      width="330"
      height="356"
      loading="lazy"
    />
    <ul class="about__list">
      <li class="about__text">
        Ice is a place where you will become not only a little happier, but also
        healthier. Health is the main value for us, and we follow it when
        creating our handmade desserts.
      </li>
      <li class="about__text">
        We use traditional recipes and 100% natural ingredients. Our products
        are so natural that they can be given to children from the age of three
        years. Sweets lovers can expect 55 types of ice cream, 15 types of
        coffee and 23 milkshakes.
      </li>
      <li class="about__text about__text--hidden">
        This is enough to choose ice cream and coffee for any mood!
      </li>
    </ul>
    <button type="button" class="btn">
      Read more
      <svg class="about__icon" width="12" height="12">
        <use href="./images/icons.svg#icon-arrow_but"></use>
      </svg>
    </button>
  </div>
</section>
