<section class="contacts">
  <div class="container">
    <h2 class="visually-hidden">company adresses</h2>
    <ul class="company-contacts">
      <li class="company-contacts__item" data-aos="fade-left">
        <span class="representation">CAFE</span>
        <p class="representation__city">Chicago</p>
        <address>
          <a
            class="representation__city--address"
            href="10340RidgelandAve,ChicagoRidge,IL60415,USA"
            >10340 Ridgeland Ave, Chicago <br />
            Ridge, IL 60415, USA</a
          >
        </address>
        <ul class="representation__work">
          <li class="representation__work-item">
            <p class="representation__work-day">Monday - Friday</p>
            <p class="representation__work-time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="representation__work-item">
            <p class="representation__work-day">Saturday - Sunday</p>
            <p class="representation__work-time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <address>
          <a href="tel:+610383766284" class="representation__tel"
            >+61(0) 383 766 284</a
          >
          <a href="mailto:noreply@envato.com" class="representation__link"
            >noreply@envato.com</a
          >
        </address>
      </li>
      <li class="company-contacts__item" data-aos="fade-up">
        <span class="representation">FOOD TRUCK</span>
        <p class="representation__city">Los Angeles</p>
        <address>
          <a
            class="representation__city--address"
            href="1003ManhattanAve,ManhattanBeach,CA90263,USA"
            >1003 Manhattan Ave, Manhattan <br />Beach, CA 90263, USA</a
          >
        </address>
        <ul class="representation__work">
          <li class="representation__work-item">
            <p class="representation__work-day">Monday - Friday</p>
            <p class="representation__work-time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="representation__work-item">
            <p class="representation__work-day">Saturday - Sunday</p>
            <p class="representation__work-time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <address>
          <a href="tel:+610383766284" class="representation__tel"
            >+61(0) 383 766 284</a
          >
          <a href="mailto:noreply@envato.com" class="representation__link"
            >noreply@envato.com</a
          >
        </address>
      </li>
      <li class="company-contacts__item" data-aos="fade-right">
        <span class="representation">CAFE</span>
        <p class="representation__city">New York</p>
        <address>
          <a
            class="representation__city--address"
            href="726SterlingPl,Brooklyn,NY11222,USA"
            >726 Sterling Pl, Brooklyn, NY<br />
            11222, USA
          </a>
        </address>
        <ul class="representation__work">
          <li class="representation__work-item">
            <p class="representation__work-day">Monday - Friday</p>
            <p class="representation__work-time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="representation__work-item">
            <p class="representation__work-day">Saturday - Sunday</p>
            <p class="representation__work-time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
        <address>
          <a href="tel:+610383766284" class="representation__tel"
            >+61(0) 383 766 284</a
          >
          <a href="mailto:noreply@envato.com" class="representation__link"
            >noreply@envato.com</a
          >
        </address>
      </li>
    </ul>
  </div>
</section>
