<section class="customer-reviews">
    <div class="">
      <div class="reviews">
        <img
          class="reviews-img"
          src="./images/comments/pexels-1 1@1x.jpg"
          alt="user"
          width="85px"
          height="85px"
        />
        <div class="comments">
          I love visiting your cafe. You prepare the most delicious ice cream in
          Los Angeles! In addition, you have beautiful serving, cozy atmosphere
          and polite staff.
        </div>
        <p class="user-info">Emily, Los Angeles</p>
        <div class="slider">000</div>
      </div>
      <!-- <div class="reviews">
          <img
            class="reviews-img"
            src="./images/comments/pexels-1 1@1x.jpg"
            alt="user"
            width="85px"
            height="85px"
          />
          <div class="comments">
            I love visiting your cafe. You prepare the most delicious ice cream in
            Los Angeles! In addition, you have beautiful serving, cozy atmosphere
            and polite staff.
          </div>
          <p class="user-info">Emily, Los Angeles</p>
          <div class="slider">000</div>
        </div> -->
    </div>
  </section>