<section class="customer-reviews">
    <div class="slider">
      <div>
        <div class="reviews">
          <img
            class="reviews-img"
            srcset="./images/comments/user_1@1x.webp 1x, ./images/comments/user_1@2x.webp 2x"
            src="./images/comments/user_1@1x.webp"
            alt="user"
            width="85px"
            height="85px"
          />
          <div class="comments">
            I love visiting your cafe. You prepare the most delicious ice cream in
            Los Angeles! In addition, you have beautiful serving, cozy atmosphere
            and polite staff.
          </div>
          <p class="user-info">Emily, Los Angeles</p>
        </div>
      </div>
      <div>
        <div class="reviews">
          <img
            class="reviews-img"
            srcset="./images/comments/user_2@1x.webp 1x, ./images/comments/user_2@2x.webp 2x"
            src="./images/comments/user_2@1x.webp"
            alt="user"
            width="85px"
            height="85px"
          />
          <div class="comments">
            Every day we come to you with friends after classes in college. We love your ice cream and casual atmosphere!
          </div>
          <p class="user-info">Bryan, New-York</p>
        </div>
      </div>
      <div>
        <div class="reviews">
          <img
            class="reviews-img"
            srcset="./images/comments/user_3@1x.webp 1x, ./images/comments/user_3@2x.webp 2x"
            src="./images/comments/user_3@1x.webp"
            alt="user"
            width="85px"
            height="85px"
          />
          <div class="comments">
            Ice cream is my passion! I love your chocolate hazelnut ice cream! And I really like the excellent service - always served politely and quickly!
          </div>
          <p class="user-info">Diana, Chicago</p>
        </div>
      </div>
    </div>
  </section>