<footer class="footer">
<div class="container container--footer">

<div class="footer__btn">
<!-- data-aos="fade-right"  -->
 <button class="btn btn--large" type="button" data-modal-location-open >Our Locations

 
    <svg class="footer__icon" height="12" width="12"> <use href="./images/icons.svg#icon-arrow_but"></use></svg>
 </button>
 <!-- data-aos="fade-left" -->
 <button class="btn btn--green btn--large"   type="button" data-modal-open>Franchise
    <svg class="footer__icon" height="12" width="12"> <use href="./images/icons.svg#icon-arrow_but"></use></svg>
 </button>

</div>
<div class="footer__wrapper">
   <!-- data-aos="flip-left" -->
 <p class="footer__text">
    homemade ice cream made <span class="footer__text--large">with passion</span> 
 </p>
    <!-- data-aos="fade-up"
     data-aos-duration="3000"-->
 <ul class="socials">
    <li class="socials__item"><a class="socials__link" href="https://github.com
        " rel="nofollow noreferrer noopener" target="_blank"><svg class="socials__icon" height="20" width="20"> <use href="./images/icons.svg#icon-github"></use></svg></a></li>
    <li class="socials__item"><a class="socials__link" href="https://web.telegram.org
        " rel="nofollow noreferrer noopener" target="_blank"> <svg class="socials__icon" height="20" width="20"> <use href="./images/icons.svg#icon-telegram"></use></svg></a></li>
    <li class="socials__item"><a class="socials__link" href="https://www.facebook.com
        " rel="nofollow noreferrer noopener" target="_blank"> <svg class="socials__icon" height="20" width="20"> <use href="./images/icons.svg#icon-facebook"></use></svg></a></li>
 </ul>
</div>
     <!-- data-aos="flip-right" -->
 <p class="footer__contact"> Feel free to contact <a href="tel:+61 (0) 383 766 284" class="footer__tel">+61 (0) 383 766 284</a> </p>

</div>

<hr class="footer__rule">
<p class="footer__copyright">&copy;2022 - IceCream. All Rights Reserved. </p>
</footer>