
<section class="gallery">
  <h2 class="visually-hidden">Gallery</h2>
  <div class="gallery-box">
    <div class="animation">
      <div class="gallery-img">
        <img
          class="images"
          srcset="./images/gallery/gallery_l_1@1X.webp 1x, ./images/gallery/gallery_l_1@2x.webp 2x"
          src="./images/gallery/gallery_l_1@1X.webp"
          alt="gallery-img-1"
          width="1013"
        />
      </div>
      <div class="gallery-img">
        <img
          class="images"
          srcset="./images/gallery/gallery_l_2@1x.webp 1x, ./images/gallery/gallery_l_2@2x.webp 2x"
          src="./images/gallery/gallery_l_2@1x.webp"
          alt="gallery-img-2"
          width="1013"
        />
        </div>
        <div class="gallery-img">
          <img
            class="images"
            srcset="./images/gallery/gallery_l_3@1x.webp 1x, ./images/gallery/gallery_l_3@2x.webp 2x"
            src="./images/gallery/gallery_l_3@1x.webp"
            alt="gallery-img-3"
            width="1013"
          />
        </div>
      </div>
  </div>
</section>
