<section class="hero">
  <div class="container hero__container">
    <div>
      <div class="hero__title-block">
        <h1 class="hero__title" data-aos="zoom-in-right">
          ice cream made with <span class="hero__title-passion">passion</span>
        </h1>
        <div class="hero__btns">
          <a href="#products" class="btn btn--green"> Products </a>
          <a href="#about" class="hero__link"> How it’s made?</a>
        </div>
      </div>

      <div class="hero__icecreams">
        <img
          src="./images/hero/a_lot_of_icecream.png"
          alt="a lot of icecream"
          class="hero__icecreams-img"
        />
        <p class="hero__icecreams-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
      </div>
    </div>

    <img
      src="./images/hero/main_ice/desktop.png"
      alt="icecream"
      class="hero__main-img"
    />

    <ul class="hero__cafes">
      <li>
        <p class="hero__cafes-title">16</p>
        <p class="hero__cafes-text">cafes</p>
      </li>
      <li>
        <p class="hero__cafes-title">23</p>
        <p class="hero__cafes-text">food trucks</p>
      </li>
    </ul>

    <!-- <svg class="hero__dots">
      <use href="./images/hero/svgs.svg#dots"></use>
    </svg> -->

    <!-- <img src="./images/hero/dots/desktop.png" alt="dots" class="hero__dots" /> -->
  </div>
</section>
