<!-- Кнопка "Buy now" для хэдера и мобильного меню -->
<!-- <button type="button" class="btn btn__buy-now" data-modal-open-buy>
  Buy now
  <svg class="btn__icon" width="12" height="12">
    <use href="./images/icons.svg#icon-arrow_but"></use>
  </svg>
</button> -->
<!-- Модальное окно Buy now -->
<div class="backdrop__modal-buy is-hidden modal-buy__scroll" data-modal-buy data-modal-mob-buy>
  <div class="modal-buy">
    <button type="button" class="modal-buy__btn-close" data-modal-close-buy>
      <svg class="modal-buy__icon-close" width="9" height="9">
        <use href="./images/icons.svg#icon-close_menu"></use>
      </svg>
    </button>
    <form class="modal-buy__form">
      <p class="form-buy__title">Buy now</p>
      <div class="buy-now__card-box">
        <div class="buy-now__card-wrapper">
          <input name="ice-cream" class="buy-now__card-input" type="checkbox" />
          <div class="buy-now__box-title buy-now__box-first">
            <span class="buy-now__card-title">ICE CREAM</span>
          </div>
        </div>
        <div class="buy-now__card-wrapper">
          <input
            name="ice coffee"
            class="buy-now__card-input"
            type="checkbox"
          />
          <div class="buy-now__box-title buy-now__box-second">
            <span class="buy-now__card-title">ICE COFFE</span>
          </div>
        </div>
        <div class="buy-now__card-wrapper">
          <input name="milkshake" class="buy-now__card-input" type="checkbox" />
          <div class="buy-now__box-title buy-now__box-third">
            <span class="buy-now__card-title">MILKSHAKE</span>
          </div>
        </div>
      </div>
      <label class="modal-buy__form-field">
        <span class="modal-buy__form--input-wrapper">
          <input
            type="text"
            class="modal-buy__form--input"
            required
            pattern="[a-zA-Zа-яА-ЯіІїЇ`']+"
            name="user_name"
            placeholder="Name"
          />
        </span>
      </label>
      <label class="modal-buy__form-field">
        <span class="modal-buy__form--input-wrapper">
          <input
            type="tel"
            class="modal-buy__form--input"
            required
            pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}"
            title="xxx-xxx-xx-xx"
            name="user_phone"
            placeholder="Phone"
          />
        </span>
      </label>
      <label class="modal-buy__form-field modal-buy__form--field-message">
        <textarea
          name="user_message"
          class="modal-buy__form--message"
          placeholder="Comment"
        ></textarea>
      </label>
      <button type="submit" class="modal-buy__form--button">Submit</button>
    </form>
  </div>
</div>
