<!-- модальное окно для мороженко -->
<div
  class="modal-info__ingredients-green backdrop is-hidden"
  data-modal__ingredients-green
>
  <div class="modal-info__ingredients">
    <button
      type="button"
      class="modal-info__ingredients--close-btn"
      data-modal__close--ingredients-green
    >
      <svg class="modal__ingredients--btn-icon" width="20" height="20">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="ingredients">
      <p class="ingredients__title">Chololate icecream</p>
    </div>
  </div>
</div>
