<!-- модальное окно для мороженко -->
<div
  class="modal-info__ingredients-green backdrop is-hidden"
  data-modal__ingredients-green
>
  <div class="modal-info__ingredients">
    <button
      type="button"
      class="modal-info__ingredients--close-btn"
      data-modal__close--ingredients-green
    >
      <svg class="modal__ingredients--btn-icon" width="20" height="20">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <div class="ingredients">
      <p class="ingredients__title">Chololate icecream</p>
      <div class="ingredients__img"></div>
      <ul class="box__of__ingredients">
        <li class="box__of__ingredients--items">
          <div class="box__of__ingredients--digits">320</div>
          <div class="box__of__ingredients--text">kcal</div>
        </li>
        <li class="box__of__ingredients--items">
          <div class="box__of__ingredients--digits">4g</div>
          <div class="box__of__ingredients--text">Protein</div>
        </li>
        <li class="box__of__ingredients--items">
          <div class="box__of__ingredients--digits">8.2g</div>
          <div class="box__of__ingredients--text">Fats</div>
        </li>
        <li class="box__of__ingredients--items">
          <div class="box__of__ingredients--digits">40.4g</div>
          <div class="box__of__ingredients--text">Cards</div>
        </li>
      </ul>
      <div>
        <p class="ingredients-caption">Ingredients</p>
      </div>
      <ul>
        <li>
          <p></p>
          <p></p>
        </li>
        <li>
          <p></p>
          <p></p>
        </li>
        <li>
          <p></p>
          <p></p>
        </li>
        <li>
          <p></p>
          <p></p>
        </li>
        <li>
          <p></p>
          <p></p>
        </li>
        <li>
          <p></p>
          <p></p>
        </li>
      </ul>
    </div>
  </div>
</div>
