<section class="products">
  <div class="container">
    <label for="products__title" class="products__label">100% natural</label>
    <h2 class="products__title" id="products__title">products</h2>
    <ul class="products__list">
      <li class="products__item">
        <div class="products__shadow-wrapper">
          <div class="products__img-wrapper">
            <img
              class="products__image"
              srcset="
                ./images/products/img1_132.webp 132w,
                ./images/products/img1_200.webp 200w,
                ./images/products/img1_264.webp 264w,
                ./images/products/img1_302.webp 302w,
                ./images/products/img1_400.webp 400w,
                ./images/products/img1_604.webp 604w
              "
              sizes="(min-width: 1200px) 302px,
                  (max-width: 1199.98px) 200px, 100vw"
              src="./images/products/img1_200.webp"
              alt="Ice cream"
            />
          </div>
        </div>
        <h3 class="products__subtitle">ice cream</h3>
        <p class="products__text">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
      </li>
      <li class="products__item products__item--second">
        <div class="products__shadow-wrapper products__shadow-wrapper--second">
          <div class="products__img-wrapper">
            <img
              class="products__image"
              srcset="
                ./images/products/img2_132.webp 132w,
                ./images/products/img2_200.webp 200w,
                ./images/products/img2_264.webp 264w,
                ./images/products/img2_302.webp 302w,
                ./images/products/img2_400.webp 400w,
                ./images/products/img2_604.webp 604w
              "
              sizes="(min-width: 1200px) 302px,
                  (max-width: 1199.98px) 200px, 100vw"
              src="./images/products/img2_200.webp"
              alt="Ice coffee"
            />
          </div>
        </div>
        <h3 class="products__subtitle">ice coffee</h3>
        <p class="products__text">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
      </li>
      <li class="products__item products__item--third">
        <div class="products__shadow-wrapper products__shadow-wrapper--third">
          <div class="products__img-wrapper">
            <img
              class="products__image"
              srcset="
                ./images/products/img3_132.webp 132w,
                ./images/products/img3_200.webp 200w,
                ./images/products/img3_264.webp 264w,
                ./images/products/img3_302.webp 302w,
                ./images/products/img3_400.webp 400w,
                ./images/products/img3_604.webp 604w
              "
              sizes="(min-width: 1200px) 302px,
                  (max-width: 1199.98px) 200px, 100vw"
              src="./images/products/img3_200.webp"
              alt="Milkshakes"
            />
          </div>
        </div>
        <h3 class="products__subtitle">milkshakes</h3>
        <p class="products__text">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
      </li>
    </ul>
  </div>
</section>
