<!-- please leave id in the place, it’s absoulutely needed for anchors -->
<section id="products" class="products">
  <div class="container">
    <span class="products__label">100% natural</span>
    <h2 class="products__title">products</h2>
    <ul class="products__list">
      <li class="products__item" data-aos="zoom-in-right">
        <h3 class="products__subtitle">ice cream</h3>
        <p class="products__text">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <button type="button" class="products__button">
          <svg class="products__icon" width="40" height="16">
            <use href="./images/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products__item products__item--second" data-aos="zoom-in">
        <h3 class="products__subtitle">ice coffee</h3>
        <p class="products__text">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <button type="button" class="products__button">
          <svg class="products__icon" width="40" height="16">
            <use href="./images/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products__item products__item--third" data-aos="zoom-in-left">
        <h3 class="products__subtitle">milkshakes</h3>
        <p class="products__text">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <button type="button" class="products__button">
          <svg class="products__icon" width="40" height="16">
            <use href="./images/icons.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
